.dropbtn {
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 5px 5px;
  overflow: auto;
  border-left: 4px solid #28ADCA;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > p {
  margin: 0;
}
.dropdown-content > p, a {
  margin: 0 5px;
}
.dropdown-content > a {
  color: black;
  text-decoration: none;
  display: block-inline;
  cursor: pointer;
  font-size: 140%;
}

.dropdown a:hover {
  background-color: #eee;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.show {
  display: block;
}
