.dropbtn {
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown-empri {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  clear: both;
  background-color: white;
  color: var(--color-text-secondary);
  cursor: default;
  min-width: 256px;
  padding: 5px 5px;
  overflow: auto;
  font-size: 12px;
  text-align: left;
  border-left: 4px solid #28ADCA;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > p {
  margin: 0;
}
.dropdown-content > p, a {
  margin: 0 5px;
}
.dropdown-content > a {
  color: black;
  text-decoration: none;
  display: block-inline;
  cursor: pointer;
  font-size: 140%;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.dropdown-content a.active {
  border-bottom: 2px solid black;
}

.dropdown-content > .datebox, button {
  display: block-inline;
  border: none;
  font-size: 120%;
}
.dropdown-content > .datebox {
  margin: 0 5px;
  font-family: monospace, monospace;
}
.dropdown-content #enhance {
  background-color: #28ADCA;
  color: white;
  text-weight: bold;
}


.show {
  display: block;
}

.replaced {
  display: none;
}



/* 2-Click popup text */
.dropdown-empri .popuptext {
  visibility: visible;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 12px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.dropdown-empri .popuptext[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.dropdown-empri .popuptext[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.dropdown-empri .popuptext[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.dropdown-empri .popuptext[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

@-webkit-keyframes fadeout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
