.content {
  margin: 4px;
}

.button {
  padding: 4px;
}
.button:hover,
.button:focus {
  cursor: pointer;
}
.btn-red {
  background-color: #cf2e2e;
  color: white;
}
.btn-red:hover {
  background: #902020;
  color: white;
}
.btn-gray {
  background-color: #eee;
  color: black;
}
.btn-gray:hover {
  background: #ddd;
  color: black;
}

/* Style inputs */
input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fffff8;
        background-color: #202023;
    }

    a {
        color: #45A1FF;
    }
}
